@using jcruggy.Models
@model IEnumerable<Product>

<!DOCTYPE html>
<html>
<head>
    <title>JC$ Rugs</title>
</head>
<body>
    <h1>JC$ Rugs</h1>
    @foreach (var item in Model)
    {
        <img src="@item.ImgUrl" height="100" width="100" />
        <h3>@item.Name</h3>
        <p>@item.Price.ToString("c")</p>
    }

    
</body>
</html> 