@using jcruggy.Models
@model IEnumerable<Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

    <h1>JC$ Rugs</h1>
    @foreach (var item in Model)
    {
        <img src="@item.ImgUrl" height="100" width="100" />
        <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id"><h3>@item.Name</h3></a>
        <p>@item.Price.ToString("c")</p>
    }

 