<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Coffee Shop v5.7.8, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.7.8, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/coffee-icon-sign-symbol-design-free-png.webp" type="image/x-icon">
    <meta name="description" content="">


    <title>Home</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/parallax/jarallax.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">




</head>
<body>


    <section data-bs-version="5.1" class="header18 cid-tsEQyIZRcx mbr-fullscreen mbr-parallax-background" id="header18-1">
        <div class="mbr-overlay" style="opacity:0.9; background-image: url('https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2Fhc1ffsl8aqua1.jpg');"></div>
        <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>
        <div class="align-center container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Level Up Your Comfort</strong></h1>

                    <p class="mbr-text mbr-fonts-style mbr-white display-7">
                        Game On with Gaming Rugs!
                    </p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="page1.html"><span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont mbr-iconfont-btn"></span>Shop now&nbsp;</a></div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="content2 cid-tsEQSCqggh" id="content2-2">
        <div class="container">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Top Selling</strong></h4>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Make your mornings better with our top-selling product.</h5>
            </div>
            <div class="row mt-4">
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/jeremy-yap-jn-hagwe4yw-unsplash-815x1223.jpg" alt="Coffee Shop" title="">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Black Diamond Coffee</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">25 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/nathan-dumlao-nbjho6wmrww-unsplash-815x1223.jpg" alt="Coffee Shop" title="">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>The Roasted Bean</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">
                                35 $<br>
                            </p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"><br></span>Add to cart<br></a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/mohammad-amirahmadi-tk2ifgn60xo-unsplash-815x1019.jpg" alt="Coffee Shop" title="">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Beanery Espressp</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">45 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/anna-bratiychuk-3w2aurzeesu-unsplash-815x1223.jpg" alt="Coffee Shop" title="" data-slide-to="3" data-bs-slide-to="4">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Americano</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">25 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/tetiana-shyshkina-4lqjr8gu-bg-unsplash-815x1222.jpg" alt="Coffee Shop" title="" data-slide-to="4" data-bs-slide-to="5">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Mocha</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">35 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <a href="page2.html">
                                <img src="assets/images/giancarlo-duarte-rthw0pwclhw-unsplash-815x543.jpg" alt="Coffee Shop" title="" data-slide-to="5" data-bs-slide-to="6">
                            </a>
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>French Press</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">55 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="page3.html" class="btn btn-primary item-btn display-4"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;</a></div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="footer7 cid-tsQdrs3Vrj" once="footers" id="footer7-13">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2025&nbsp; - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/parallax/jarallax.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/theme/js/script.js"></script>

</body>
</html>